**/.env

**/build/**
**/__pycache__/**

# 42
*.DS_Store
*.vscode
**/node_modules

# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects( inc. Windows DLLs )
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
# *.mod*
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# compiled output
**/dist
**/node_modules

# Logs
**/logs
*.log
**/npm-debug.log*
**/pnpm-debug.log*
**/yarn-debug.log*
**/yarn-error.log*
**/lerna-debug.log*

# OS
**/.DS_Store

# Tests
**/coverage
**/.nyc_output

# IDEs and editors
**/.idea
**/.project
**/.classpath
**/.c9/
**/*.launch
**/.settings/
**/*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Security
**/certs/*
webpage/.certs/transcendence.key
webpage/.certs/transcendence.crt
webpage/public.ip
